.Sidebar{

    border: 1px solid;
    height: 500px;


    nav{
        display: flex;
        justify-content: flex-end;
    }


    .tabOptions{
        padding: 10px;
        cursor: pointer;
        border: none;

        &:focus{
            outline: none;
        }


    }
}