.SignIn{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;

    .container{
        width: 350px;
        max-width: 100%;
        padding: 10px;
        border: 1px solid;
        margin: 20px 0 0 0;
    }


    p{
        font-size: 20px;
        text-align: center;
        margin: 0 0 10px 0;
    }



    form{
        display: flex;
        flex-direction: column;
        width: 100%;

        input{
            width: 100%;
            padding: 10px 0;
            margin: 10px 0;


            &:focus{
                outline-color: orange;
            }
        }

        div{
            display: flex;
            justify-content: center;
            align-items: center;

            input{
                width: unset;
                margin: 0 2px 0 0;
            }
        }

        .submitInput{
            background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
            cursor: pointer;
        }
        

    }

    a{
        width: 100%;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        color: black;
    }
}